*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Eclipse
.project
.settings

GrupoC-Model/.cache
GrupoC-Model/.classpath
GrupoC-Model/.project
GrupoC-Model/.settings
GrupoC-Model/target
GrupoC-Model/scalastyle-output.xml

GrupoC-Persistence/.cache
GrupoC-Persistence/.classpath
GrupoC-Persistence/.project
GrupoC-Persistence/.settings
GrupoC-Persistence/target
GrupoC-Persistence/scalastyle-output.xml

GrupoC-Presentation/.cache
GrupoC-Presentation/.classpath
GrupoC-Presentation/.project
GrupoC-Presentation/.settings
GrupoC-PresentationModel/target
GrupoC-PresentationModel/scalastyle-output.xml

GrupoC-Service/.cache
GrupoC-Service/.classpath
GrupoC-Service/.project
GrupoC-Service/.settings
GrupoC-Service/target
GrupoC-Service/scalastyle-output.xml
