<wicket:extend xmlns:wicket="http://wicket.apache.org">
	<div class="container">
	    <table width="80%">
            <tr>
                <td>
                    <h1 wicket:id="title">Title</h1>
                </td>
            </tr>
        </table>
        
        <form wicket:id="bookForm" class="form">
        	<fieldset>
        	
        	<!-- TODO - add image, authors, amount -->
        	<div class="form-group">
	        	<label class="control-label" for="book.title">Title</label>
	        	<div class="controls">
	        		<input wicket:id="book.title" type="text" placeholder="Viaje al centro de la tierra" class="form-control" />
	        	</div>
        	</div>
        	
        	<div class="form-group">
	        	<label class="control-label" for="book.isbn">Isbn</label>
	        	<div class="controls">
	        		<input wicket:id="book.isbn" type="text" placeholder="IB-172TG34" class="form-control" />
	        	</div>
        	</div>
        	
        	<div class="form-group">
    			<label class="control-label" for="book.editorial">Editorial</label>
    			<div class="controls">
    				<input wicket:id="book.editorial" type="text" placeholder="Pepitos editorial" class="form-control"/>
    	    	</div>
        	</div>
        	
        	<div class="form-group">
    			<label class="control-label" for="book.description">Description</label>
    			<div class="controls">
    				<input wicket:id="book.description" type="text" placeholder="This is a description" class="form-control"/>
    	    	</div>
        	</div>
        	
            <div wicket:id="feedbackPanel" class="alert alert-error">
					<strong>Warning!</strong> Best check yo self, you're not looking too good.  
			</div>  

            <div class="form-actions">
                <button wicket:id="accept" type="submit" class="btn btn-primary">Accept</button>
                <button wicket:id="cancel" type="submit" class="btn btn-default">Cancel</button>
            </div>
            </fieldset>
        </form>
    </div>
</wicket:extend>
