<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="es">
<head>
	<meta charset="utf-8">
	<title>Library System</title>
	<link rel="icon" type="image/png" href="../libraryIcon.png" />

	<link rel="stylesheet" type="text/css" href="../css/signin.css" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	
	<script	src="../js/bootstrap.js"></script>

	<!-- JQUERY -->
	<script src="../js/jquery.js"></script>
</head>
<body>
	<div class="container">
		<!-- Content -->
		<div class="content">
			<wicket:child />
		</div>
	</div>
</body>
</html>