<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
	<meta charset="utf-8">
	<title>Library System</title>
	
<!-- TODO - Add local copy bootstrap -->
	<!-- JQUERY -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
	<br />
	<div class="container">
		<!-- <img src="..." class="img-polaroid"> -->
		<h1>Library System</h1>

		<p>Simple and yet incomplete library system made with Scala -
			Spring - Hibernate - Wicket/Bootstrap tecnologies</p>
		<br />

		<!-- Tab navigation -->
			<div wicket:id="tabs" class="tabbable nav nav-tabs"></div>
 	</div>

</body>
</html>