<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="container form-signin">
        <br />
        <h2 class="form-signin-heading">Sign In</h2>
        <br />

        <div wicket:id="feedback"></div>
        <input wicket:id="username" type="text" class="form-control"
                placeholder="Username" required autofocus />
        <input wicket:id="email" type="email" class="form-control"
               placeholder="Email" required />
        <input wicket:id="password" type="password" class="form-control"
                placeholder="Password" required />

        <button wicket:id="signin"
                class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
</wicket:extend>