<wicket:extend xmlns:wicket="http://wicket.apache.org">
	<br />
    <!-- Book List Table -->
	<form wicket:id="bookListForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <wicket:message key="table-title" />
            </div>
            <table class="table table-striped table-condensed table-hover">
                <tbody>
                    <tr class="thead"><!-- Table Headers -->
                        <th><wicket:message key="row-title" /></th>
                        <th><wicket:message key="row-isbn" /></th>
                        <th><wicket:message key="row-regDate" /></th>
                        <th><wicket:message key="row-amount" /></th>
                        <th><wicket:message key="row-reservations" /></th>
                        <th><wicket:message key="row-state" /></th>
                        <th><wicket:message key="row-actions" /></th>
                    </tr><!-- /Table Headers -->

                    <tr wicket:id="books">
                        <td><p wicket:id="title" /></td>
                        <td><p wicket:id="isbn" /></td>
                        <td><p wicket:id="registrationDate" /></td>
                        <td><p wicket:id="amount" /></td>
                        <td><p wicket:id="reservations" /></td>
                        <td><p wicket:id="state" /></td>
                        <td><!-- Actions -->
                            <button wicket:id="details" class="btn btn-link"><wicket:message key="details" /></button>
                            <button wicket:id="reserve" class="btn btn-link">Reserve</button>
                            <button wicket:id="delete" class="btn btn-link"><wicket:message key="delete" /></button>
                        </td><!-- /Actions -->
                    </tr>
                </tbody>
            </table>
        </div>
      <!-- Pagination nav -->
        <ul wicket:id="navigator" />
    </form>
</wicket:extend>